<div id="container">
    <form autocomplete="off" [formGroup]="formEmpresa" (ngSubmit)="crear()">
        
        <div class="row">
            <div class="col-25">
                <label>Id Empresa</label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="idEmpresaNoValido" formControlName="idEmpresa" placeholder="idEmpresa">
            </div>
        </div>
        
        <div class="row">
            <div class="col-25">
              <!-- Documanto -->
            <label>Tipo de Documento:</label>
            </div>
            <div class="col-75">
                
            <select >
                <option *ngFor="let t of tipodocumentos"> {{t.descripcion}} </option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- No del Documento  -->
            <label>RUC/Cédula </label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="rucNoValido" formControlName="ruc_cedula" placeholder="No Documento">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
            <label >Tipo de Persona</label>
            </div>
            <div class="col-75">
           
            <select >
                <option *ngFor="let t of tipopersonas">
                    {{t.descripcion}}
                </option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Razón Social -->
            <label >Razón Social</label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="razonNoValido"  formControlName="razonsocial" placeholder="razon social">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Nombres -->
        <label>Nombre Comercial</label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="nombreNoValido" formControlName="nombrecomercial"  placeholder="nombres">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Tipo de Empresa -->
            <label>Tipo de Empresa </label>
            </div>
            <div class="col-75">
                <select >
                    <option *ngFor="let t of tipoempresas">
                        {{t.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Actividad Economica -->
            <label > Actividad Economica</label>
            </div>
            <div class="col-75">
                <select >
                <option *ngFor="let r of ramaactividads">
                    {{r.descripcion}}
                </option>
            </select >
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Rama de Actividad -->
            <label > Rama de Actividad </label>
            </div>
            <div class="col-75">
                <select >
                    <option *ngFor="let r of ramaactividads">
                        {{r.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Ciudad  -->
            <label>Ciudad: </label>
            </div>
            <div class="col-75">
                <select >
                    <option *ngFor="let c of ciudades">
                        {{c.nombreciudad}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Provincia -->
                <label>Provincia:</label>
            </div>
            <div class="col-75">
                <select >
                    <option *ngFor="let p of provincias">
                        {{p.nombreprovincia}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Sector -->
                <label >Sector</label>
            </div>
            <div class="col-75">
                <select >
                    <option *ngFor="let s of sectores">
                        {{s.descripcion}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Calle Principal -->
                <label>Calle Principal</label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="calleprincipalNoValido" formControlName="calleprincipal" placeholder="calle Principal">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Calle Secundaria -->
                <label>Calle Secundaria</label>
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="callesecundariaNoValido" formControlName="callesecundaria"  placeholder="calle Secundaria">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Manzana</label>
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="mzNoValido" formControlName="mz"  placeholder="Manzana">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Villa</label>
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="villaNoValido" formControlName="villa"  placeholder="No de Villa">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Referencia -->
                <label> Referencia</label>
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="referenciaNoValido" formControlName="referencia" placeholder=" Referencia">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Teléfono Celular</label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="celularNoValido" formControlName="celular"  placeholder=" numero de telefono">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Numero de telefono de oficina -->
                <label>Teléfono de Oficina</label>
            </div>
            <div class="col-75">
                <input type="text" [class.is-invalid]="telefonooficinaNoValido" formControlName="telefonooficina"  placeholder=" numero de telefono">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Web -->
                <label>Pagina Web:</label>
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="paginawebNoValido" formControlName="paginaweb"  placeholder="Pagina Web">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Correo -->
                <label>Correo electrónico:</label>
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="correoelectronicoNoValido" formControlName="correoelectronico" placeholder="correo">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Contraseña -->
                <label >Contraseña:</label>  
            </div>
            <div class="col-75">
                <input type="text"  [class.is-invalid]="contraseniaNoValido" formControlName="contrasenia" placeholder="password">
            </div>
        </div>

        <div id="lower">
            <!-- Submit Button -->
            <input type="submit"    value="Register">
        </div>
    </form>       
</div>