<div id="container">
    <form>
        <!-- Username -->
        <label for="name">Correo electrónico:</label>
        <input type="name">
        <!-- Password -->
        <label for="username">Contraseña:</label>
        <p><a href="#">Olvidaste tu contraseña?</a>    
        <input type="password">
        <div id="lower">
            <!-- Submit Button -->
            <input type="submit" value="Login">
            <input type="submit" routerLink="/registroFullAspirante" value="Register">
        </div>
    </form>       
</div>