<p>register works!</p>
<form >

    <div class="mb-3">
        <label  class="form-label">Tipo</label>
        <select class="form-select" >
            <option selected>Tipo Usuario</option>    
          </select>
        
      </div>

    

    <div class="mb-3">
      <label  class="form-label">Usuario</label>
      <input type="text"  >
      
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password"  >
    </div>
    <div class="mb-3 form-check">
        <label  class="form-label">Cedula</label>
        <input type="password" >
      
    </div>
    <div class="mb-3 form-check">
        <label  class="form-label">Nombres</label>
        <input type="password"  >
      
    </div>
    <div class="mb-3 form-check">
        <label  class="form-label">Apellidos</label>
        <input type="password" >
    </div>

    <div class="mb-3">
        <label  class="form-label">Provincia</label>
        <select class="form-select" >
            <option selected>Provincia</option>    
          </select>
      </div>

      <div class="mb-3">
        <label  class="form-label">Ciduad</label>
        <select class="form-select" >
            <option selected>Ciudad</option>    
          </select>
        
      </div>

    <div class="mb-3 form-check">
        <label  class="form-label">Correo</label>
        <input type="email"  >
      
    </div>
    <div class="mb-3 form-check">
        <label  class="form-label">Teléfono</label>
        <input type="email"  >
      
    </div>
    <div class="mb-3 form-check">
        <label  class="form-label">Dirección</label>
        <input type="email"  >
      
    </div>

    <div class="mb-3">
        <label  class="form-label">Género</label>
        <select class="form-select" >
            <option selected>Género</option>    
          </select>      
      </div>

      <div class="mb-3">
        <label  class="form-label">Estado Civil</label>
        <select class="form-select" >
            <option selected>Estado Civil</option>    
          </select>      
      </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>