<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>Agencia</em>Laboral</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-link"  > <span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></li>
                
                </ul>
            </div>
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->    

 
    
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Tu Perfil</h4>
      <ul class="nav nav-pills nav-stacked">
        <li ><a>Asignar Aspirantes</a></li>
        <li><a >Configurar paquete de pago</a></li>
        <li><a href="#section4">Revisar Sugerencias</a></li>
        <li ><a href="#section3">Nuevos Aspirantes</a></li>
        <li ><a href="#section3">Aspirantes Aceptados</a></li>
        <li ><a href="#section3">Empresas</a></li>
        <li><a href="#section3">Configuración</a></li>
      </ul><br>
      
    </div>
    
        <app-sesion-aspirante></app-sesion-aspirante>
    
    
    
  </div>
</div>

<footer class="container-fluid">

</footer>