<div id="container">
    <form>
        <div class="row">
            <div class="col-25">
              <!-- Documanto -->
            <label for="doc">Tipo de Documento:</label>
            </div>
            <div class="col-75">
            <select name="doc" id="doc">
                <option value="cedula">Cédula de Identidad</option>
                <option value="pasaporte">Pasaporte</option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- No del Documento  -->
            <label for="ndoc">No del Documento </label>
            </div>
            <div class="col-75">
                <input type="text" id="ndoc" name="ndoc" placeholder="No Documento">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Nombres -->
        <label for="nombres">Nombres Completos</label>
            </div>
            <div class="col-75">
                <input type="text" id="nombres" name="nombres" placeholder="nombres">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Apellidos -->
                <label for="apellidos">Apellidos Completos</label>
            </div>
            <div class="col-75">
                <input type="text" id="apellidos" name="apellidos" placeholder="apellidos">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
              <!-- Ciudad  -->
            <label for="ciudad">Ciudad: </label>
            </div>
            <div class="col-75">
                <select name="ciudad" id="ciudad">
                    <option value="gye">Guayaquil</option>
                    <option value="uio">Quito</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Provincia -->
                <label for="provincia">Provincia:</label>
            </div>
            <div class="col-75">
                <select name="provincia" id="provincia">
                    <option value="guayas">Guayas</option>
                    <option value="pichincha">Pichincha</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Correo -->
                <label for="correo">Correo:</label>
            </div>
            <div class="col-75">
                <input type="text" id="correo" name="correo" placeholder="correo">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Contraseña -->
                <label for="password">Contraseña:</label>  
            </div>
            <div class="col-75">
                <input type="text" id="password" name="password" placeholder="password">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Contraseña -->
                <label for="password2">Contraseña Confirmacion:</label>
            </div>
            <div class="col-75">
                <input type="text" id="password2" name="password2" placeholder="password confirmación">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <!-- Provincia -->
                <label for="gender">Género:</label>
            </div>
            <div class="col-75">
                <select name="gender" id="gender">
                    <option value="m">Masculino</option>
                    <option value="f">Femenino</option>
                    <option value="o">Otro</option>
                </select>
            </div>
        </div>

        <div id="lower">
            <!-- Submit Button -->
            <input type="submit" value="Register">
        </div>
    </form>       
</div>