<div id="container">
     


    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
           
        <!-- Campo de producto -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Tipo de Documento</label>
            <div class="col-sm-9">
                
                <select  formControlName="tipoDocumento">
                    <option *ngFor="let d of tipodocumentos">
                        {{d.idtipodocumento}}-{{d.descripcion}}
                    </option>
                    
                </select>
<!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('tipoDocumento')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <!-- Campo de producto -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">No de Documento</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName ="numDocumento" 
                       placeholder="Numero">

                       <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('numDocumento')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <!-- Campo de existencias -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Nombres Completos</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName="nombres"
                       placeholder="Nombres Completos">
                       <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('nombres')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Apellidos Completos</label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName="apellidos"
                       placeholder="Apellidos">
                       <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('apellidos')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Povincia</label>
            <div class="col-sm-9">

                <select  formControlName="provincia">
                    <option *ngFor="let p of provincias">
                        {{p.idprovincia}}-{{p.nombreprovincia}}
                        
                    </option>
                </select>
<!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('provincia')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Ciudad </label>
            <div class="col-sm-9">
                <select   formControlName="ciudad" >
                    <option *ngFor="let c of ciudades">

                        {{c.nombreciudad}}
                    </option>
                </select>
                <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('ciudad')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Correo </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName="correo"
                       placeholder="correo">
                       <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('correo')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Contraseña </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName="contraseña"
                       placeholder="contraseña">
                       <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('contraseña')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Confirmacion de Contraseña  </label>
            <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       formControlName="confirmacion"
                       placeholder="confirmacion">
                       <!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('confirmacion')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Género  </label>
            <div class="col-sm-9">
                <!--select name="gender" id="gender" formArrayName="genero">
                    <option value="m">Masculino</option>
                    <option value="f">Femenino</option>
                    <option value="o">Otro</option>
                </select-->
                <select formControlName="genero">
                    <option *ngFor="let g of generos">
                        {{g.idgenero}}-{{g.genero}}
                    </option>
                </select>
<!--
                <span class="form-text text-danger"
                    *ngIf="campoEsValido('genero')">
                    
                    Campo Requerido
                </span>
                -->
            </div>
        </div>
        


        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary float-end">
                    Guardar
                </button>
            </div>
        </div>



    </form>





    
</div>

<!--form>
      
    <div id="lower">
      
        <input type="submit" value="Register">
    </div>
</form-->      