<div id="container">
    <button type="button" routerLink="/main" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <form>
        <!-- Username -->
        <label for="name">Correo electrónico:</label>
        <input type="name">
        <!-- Password -->
        <label for="username">Contraseña:</label>
        <p><a href="#">Olvidaste tu contraseña?</a></p>    
        <input type="password">
        <div id="lower">
            <!-- Submit Button -->
            <input type="submit" value="Iniciar Sesión">
            <input type="submit" routerLink="/registroUsuario" value="Registarse">
        </div>
    </form>       
</div>